<mat-card [formGroup]="fieldset">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title fxFlex="auto" >Persona</mat-card-title>
    <app-input-search-go fxFlex="auto" [entityName]="'persona'" [route]="'persona-admin'"></app-input-search-go>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="auto" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text fxFlex="auto" [field]="nombres" [title]="'Nombres'"></core-input-text> 
        <core-input-text fxFlex="auto" [field]="apellidos" [title]="'Apellidos'"></core-input-text> 
      </div>
      <div fxLayout="row" fxFlex="auto" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text fxFlex="auto" [field]="legajo" [title]="'Legajo'"></core-input-text> 
        <core-input-text fxFlex="auto" [field]="email" [title]="'Email'" [placeholder]="'ejemplo@dominio.com'"></core-input-text> 
      </div>
    </div>
    <div fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="10px">
      <core-input-select fxFlex="10%" [field]="tipoDocumento" [entityName]="'tipo_documento'" [title]="'Tipo Documento'"></core-input-select>
      <core-input-text fxFlex="auto" [field]="numeroDocumento" [title]="'Numero documento'"></core-input-text> 
      <core-input-date fxFlex="auto" [field]="fechaNacimiento" [title]="'Fecha nacimiento'"></core-input-date>
      <core-input-text fxFlex="auto" [field]="telefonoLaboral" [title]="'Telefono laboral'"></core-input-text> 
      <core-input-text fxFlex="auto" [field]="telefonoParticular" [title]="'Telefono particular'"></core-input-text> 
    </div>
    <div fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="10px">
        <core-input-select fxFlex="auto" [field]="cargo" [entityName]="'cargo'" [title]="'Cargo'"></core-input-select>
        <core-input-select fxFlex="auto" [field]="organo" [entityName]="'organo'" [title]="'Organo'"></core-input-select>
        <core-input-select fxFlex="auto" [field]="departamentoJudicial" [entityName]="'departamento_judicial'" [title]="'Departamento Judicial'"></core-input-select>
        <core-input-select fxFlex="auto" [field]="departamentoJudicialInformado" [entityName]="'departamento_judicial'" [title]="'Departamento Judicial Informado'"></core-input-select>

    </div>
  </mat-card-content>
</mat-card>
