<mat-card >
  <mat-card-header>
    <mat-card-title>Afiliacion <core-label [entityName]="'persona'" [id]="data.persona"></core-label></mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" [formGroup]="fieldset">
    <core-input-select-param [field]="motivo" 
                             [title]="'Motivo'" 
                             [options]="['Alta','Baja','Pendiente']"
                             [validatorOpts]="[requiredValidatorOpt]"
                             fxFlex="33%" 
                             fxFlex.xs="100%"></core-input-select-param>

    <core-input-select-param [field]="codigo" 
                             [title]="'Código'" 
                             [options]="[161,162]"
                             [validatorOpts]="[requiredValidatorOpt]"
                             fxFlex="33%" 
                             fxFlex.lt-md="50%" 
                             fxFlex.xs="100%"></core-input-select-param>
                           
    <core-input-select-param [field]="estado" 
                             [title]="'Estado'" 
                             [options]="['Creado','Enviado','Aprobado','Rechazado']"
                             [validatorOpts]="[requiredValidatorOpt]"
                             fxFlex="34%" 
                             fxFlex.lt-md="50%" 
                             fxFlex.xs="100%"></core-input-select-param>          
    
    <core-input-select [field]="departamentoJudicial" 
                       [title]="'Departamento Judicial'" 
                            [entityName]="'departamento_judicial'"
                             [validatorOpts]="[requiredValidatorOpt]"
                             fxFlex="33%" 
                             fxFlex.xs="100%"></core-input-select>

    <core-input-select [field]="organo" 
                             [title]="'Órgano'" 
                                  [entityName]="'organo'"
                                   [validatorOpts]="[requiredValidatorOpt]"
                                   fxFlex="33%" 
                                   fxFlex.xs="100%"></core-input-select>

    <core-input-select [field]="departamentoJudicialInformado" 
                       [title]="'Departamento Judicial Informado'" 
                       [entityName]="'departamento_judicial'"
                       fxFlex="33%" 
                       fxFlex.xs="100%"></core-input-select>
                             
    <core-textarea [field]="observaciones" 
                   [title]="'Observaciones'" 
                   fxFlex="100%"></core-textarea>    
                                          
    
  <mat-card fxFlex="25%" *ngIf="data.creado" [style.backgroundColor]="'#17a2b8'">
    <mat-card-header>
      <mat-card-title>Creado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{data.creado | toDate | date:"d/M/y"}}</p>
    </mat-card-content>
  </mat-card>

        <mat-card fxFlex="25%" *ngIf="data.enviado" [style.backgroundColor]="'#007bff'">
          <mat-card-header>
            <mat-card-title>Enviado</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{data.enviado | toDate | date:"d/M/y"}}
          </mat-card-content>
        </mat-card>

        <mat-card fxFlex="25%" *ngIf="data.evaluado" [style.backgroundColor]="(data.estado == 'Aprobado') ? '#aaff80' : '#ff8080'">
          <mat-card-header>
            <mat-card-title>Evaluado</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{data.evaluado | toDate | date:"d/M/y"}}
          </mat-card-content>
        </mat-card>

        <mat-card fxFlex="25%" *ngIf="data.modificado" [style.backgroundColor]="'#6c757d'">
          <mat-card-header>
            <mat-card-title>Modificado</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{data.modificado | toDate | date:"d/M/y"}}
          </mat-card-content>
        </mat-card>
  </mat-card-content>
</mat-card>
