<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card>
  <mat-card-header>
    <mat-card-title>Registros 80 <button mat-mini-fab color="primary" (click)="copyContent()"><mat-icon>content_copy</mat-icon></button>
      <button mat-mini-fab color="primary" (click)="printContent()"><mat-icon>print</mat-icon></button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content #content *ngIf="(load$ | async)">
    <mat-progress-bar *ngIf="!load" mode="indeterminate"></mat-progress-bar>
    <table mat-table [dataSource]="data" matSort matSortActive="persona" matSortDirection="asc" matSortDisableClear (matSortChange)="onChangeSort($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="motivo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Motivo </th>
        <td mat-cell *matCellDef="let row"> {{row.motivo}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="creado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado </th>
        <td mat-cell *matCellDef="let row"> {{row.creado | toDate | date:'MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="enviado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enviado </th>
        <td mat-cell *matCellDef="let row"> {{row.enviado | toDate | date:'MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="evaluado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Evaluado </th>
        <td mat-cell *matCellDef="let row"> {{row.evaluado | toDate | date:'MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="modificado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificado </th>
        <td mat-cell *matCellDef="let row"> {{row.modificado | toDate | date:'MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
        <td mat-cell *matCellDef="let row"> {{row.observaciones}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> 
          <a [routerLink]="['/persona-admin']" [queryParams]="{id:row.persona}" >
            {{row.nombre}}
          </a>&nbsp;<app-field-label-organo [id]="row.persona"></app-field-label-organo>
        </td>
      </ng-container>

      <ng-container matColumnDef="legajo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Legajo </th>
        <td mat-cell *matCellDef="let row"> {{row.legajo}} </td>
      </ng-container>

      <ng-container matColumnDef="departamento_judicial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento Judicial </th>
        <td mat-cell *matCellDef="let row"> <core-label [id]="row.departamento_judicial" [entityName]="'departamento_judicial'"></core-label>
        <span *ngIf="row.departamento_judicial_informado">&nbsp;(<core-field-label [id]="row.departamento_judicial_informado" [entityName]="'departamento_judicial'" [fieldNames]="['codigo']"></core-field-label>)</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="desde">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Desde </th>
        <td mat-cell *matCellDef="let row"> {{row.desde | toDate | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="hasta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hasta </th>
        <td mat-cell *matCellDef="let row"> {{row.hasta | toDate | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
        <td mat-cell *matCellDef="let row"> {{row.monto}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator *ngIf="display"
                   [length]="length"
                   [pageSize]="display.size"
                   [pageIndex]="display.page-1"
                   (page)="onChangePage($event)"
                   [pageSizeOptions]="[10, 25, 50, 100]" 
                   showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>

