<mat-card *ngIf="load$ | async" [formGroup]="fieldset">
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="auto" fxLayoutGap="10px" fxLayout.xs="column">
        <div fxFlex="auto">
          <mat-form-field>
            <mat-label>Motivo</mat-label>
            <input matInput formControlName="motivo" >
          </mat-form-field>
        </div>
        <div fxFlex="auto">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <input matInput formControlName="estado" >
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
