<mat-card [formGroup]="fieldset">
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-select-param fxFlex="33%" [field]="motivo" [options]="['Alta','Baja','Pendiente']" [title]="'Motivo'"></core-input-select-param>
        <core-input-select-param fxFlex="33%" [field]="estado" [options]="['Creado','Enviado','Aprobado','Rechazado']" [title]="'Estado'"></core-input-select-param>
        <core-input-select-checkbox fxFlex="33%" [field]="modificadoIsSet" [title]="'Está modificado?'"></core-input-select-checkbox>
      </div>
    </div>    
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-select fxFlex="auto" [field]="organo" [entityName]="'organo'" [title]="'Órgano'"></core-input-select>
        <core-input-select fxFlex="auto" [field]="departamentoJudicial" [entityName]="'departamento_judicial'" [title]="'Departamento Judicial'"></core-input-select>
      </div>        
      <div fxLayout="row" fxFlex="50%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-select fxFlex="auto" [field]="cargo" [entityName]="'cargo'" [title]="'Cargo'"></core-input-select>
        <core-input-select fxFlex="auto" [field]="departamentoJudicialInformado" [entityName]="'departamento_judicial'" [title]="'Departamento Judicial Informado'"></core-input-select>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-ym fxFlex="50%" [field]="creadoYm" [title]="'Creado'"></core-input-ym>
        <core-input-ym fxFlex="50%" [field]="enviadoYm" [title]="'Enviado'"></core-input-ym>
      </div>
      <div fxLayout="row" fxFlex="50%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-ym fxFlex="50%" [field]="evaluadoYm" [title]="'Evaluado'"></core-input-ym>
        <core-input-ym fxFlex="50%" [field]="modificadoYm" [title]="'Modificado'"></core-input-ym>
      </div>
    </div>  
  </mat-card-content>
</mat-card>
