<mat-card>
  <mat-card-header>
    <mat-card-title>Totales <core-label *ngIf="display.getParam('organo')" [entityName]="'organo'" [id]="display.getParam('organo')"></core-label> {{display.getParam('periodo') | toDate | date:"M/y"}} <button mat-mini-fab color="primary" (click)="copyContent()"><mat-icon>content_copy</mat-icon></button>
    <button mat-mini-fab color="primary" (click)="printContent()"><mat-icon>print</mat-icon></button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content #content>
    <p class="right">La Plata {{display.getParam('periodo') | toDate | date:"LLLL" | titlecase}} de {{display.getParam('periodo') | toDate | date:"y"}}</p>
    <p class="justify">Recibí del Colegio de Magistrados y Funcionarios del Poder Judicial de la Provincia de Buenos Aires 
    la suma de <strong>$ {{footer.total_pagar}} ({{footer.total_pagar_letras}})</strong> mediante transferencia del Banco de la Provincia de Buenos Aires, conforme al siguiente detalle:</p>
    <table>
      <tr><td><strong>Mes:</strong></td><td><strong>{{display.getParam('periodo') | toDate | date:"M/y"}}</strong></td></tr>
      <tr><td>Colegiados:</td><td>{{footer.afiliaciones}}</td></tr>
      <tr><td>Importe total:</td><td>{{footer.importe}}</td></tr>
      <tr><td>Deducción 15%:</td><td>{{footer.total_deduccion}}</td></tr>
      <tr><td>Deducción FAM:</td><td>{{footer.fam}}</td></tr>
      <tr><td><strong>TOTAL A PAGAR:</strong></td><td><strong>{{footer.total_pagar}}</strong></td></tr>
      
    </table>
  </mat-card-content>
</mat-card>
