<mat-card>
  <mat-card-header>
    <mat-card-title>Importe</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="data" matSort matSortDisableClear (matSortChange)="onChangeSort($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="afi_per_departamento_judicial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
        <td mat-cell *matCellDef="let row"> {{row.afi_per_departamento_judicial}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Afiliaciones </th>
        <td mat-cell *matCellDef="let row"> {{row.count}} </td>
      </ng-container>

      <ng-container matColumnDef="imp_valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let row"> {{row.imp_valor}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
    <mat-paginator *ngIf="display && length"
                   [length]="length"
                   [pageSize]="display.size"
                   [pageIndex]="display.page-1"
                   (page)="onChangePage($event)"
                   [pageSizeOptions]="[10, 25, 50, 100]" 
                   showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>
