<mat-card>
  <mat-card-header>
    <mat-card-title>Generar Archivo</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="fieldset">   
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="100%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-ym *ngIf="periodo" fxFlex="33%" [field]="periodo" [title]="'Período'"></core-input-ym>
        <core-input-select [field]="organo" [entityName]="'organo'" [title]="'Organo'" fxFlex="33%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-select>
        <core-input-select-label [field]="tipo" [options]="tipoOptions" [title]="'Tipo'" fxFlex="33%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-select-label>
      </div>      
    </div>  
  </mat-card-content>
</mat-card>
