<mat-card>
  <mat-card-header>
    <mat-card-title>Departamento Judicial</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let row of fieldset.controls; let i=index" [formGroup]="fg(i)">
      
      <div fxLayout="row" *ngIf="!_delete(i).value">

        <div fxLayout="column" fxFlex="50%" fxFlex.lt-md="90%" fxFlex.xs="90%">

          <div fxLayout="row" fxFlex="100%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
            <core-input-text [field]="codigo(i)" [title]="'Codigo'" fxFlex="25%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
            <core-input-text [field]="nombre(i)" [title]="'Nombre'" fxFlex="75%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
          </div>

        </div> <!--div fxLayout="column"-->
      
        <div fxLayout="row" fxFlex="10%" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
          <button mat-mini-fab color="warn" (click)="remove(i)" type="button"><mat-icon>delete</mat-icon></button>
        </div>

      </div> <!--div fxLayout="row" *ngIf="!_delete(i).value"-->

    <div *ngIf="!_delete(i).value"><mat-divider></mat-divider><br></div>
    
    </div>
    <button mat-mini-fab color="primary" (click)="add()" type="button"><mat-icon>add</mat-icon></button>
    
    </mat-card-content>
  </mat-card>
  