<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
  
  <ng-container *ngIf="(loadParams$ | async); else loading">
    <ng-container *ngIf="(loadDisplay$ | async); else loading">
      <mat-card>
        <mat-card-title>
          Recibo
          <core-abstract-control-view *ngFor="let o of optTitle" 
              [config]="o.config" 
              [control]="o.control" ></core-abstract-control-view> 
        </mat-card-title>
        
        <mat-card-content>
  
        <core-search [display]="display$.value" 
                     [config]="searchConfig"
                     [control]="searchControl"></core-search>
  
        <div #mainContent *ngIf="!emptyData">
            <p style="text-align:right">La Plata, {{fecha}} </p>

            <p style="text-align:justify">RECIBI DEL COLEGIO DE MAGISTRADOS Y 
              FUNCIONARIOS DEL PODER JUDICIAL DE LA PROVINCIA DE BUENOS AIRES 
              LA SUMA DE $ {{control.value["total"] | number:"":"es-AR"}} 
              ({{control.value["total_letras"]}}) mediante transferencia del
              BANCO DE LA PROIVINCIA DE BUENOS AIRES, CONFORME AL SIGUIENTE
              DETALLE: </p>
            <table>
                <tr>
                    <td><strong>MES</strong></td><td><strong>{{periodo | toDate | date:"MM/yyyy" }}</strong></td>
                </tr>
                <tr>
                    <td>COLEGIADOS</td><td>{{control.value["afiliaciones"] | number:"":"es-AR" }}</td>
                </tr>
                <tr>
                    <td>IMPORTE TOTAL</td><td>{{control.value["importe"] | number:"":"es-AR"}}</td>
                </tr>
                <tr>
                    <td>DEDUCCIÓN 15%</td><td>{{control.value["cuota_asociativa"] | number:"":"es-AR"}}</td>
                </tr>
                <tr>
                    <td>DEDUCCIÓN FAM</td><td>{{control.value["fam"] | number:"":"es-AR"}}</td>
                </tr>                   
                <tr>
                    <td>TOTAL DEDUCCIÓN</td><td>{{control.value["total_deduccion"] | number:"":"es-AR"}}</td>
                </tr>
                <tr *ngIf="control.value['viatico']">
                    <td><br>VIÁTICO</td><td><br>{{control.value["viatico"] | number:"":"es-AR"}}</td>
                </tr>
                <tr>
                    <td><strong><br>TOTAL A PAGAR</strong></td><td><strong><br>{{control.value["total"] | number:"":"es-AR"}}</strong></td>
                </tr>
            </table>
            <br><br><br><br><br>

            <p>Recibí conforme</p>
            <div>
                <p style="float:left"><strong>Departamental {{departamento_judicial}}</strong></p>

                <p style="float:right">Firma y aclaración</p>
            </div>

        </div>
          
      </mat-card-content>
      </mat-card>
    </ng-container>
    <!-- <p>Debug Form value: {{ form.value | json }}</p>
    <p>Debug Form status: {{ form.status | json }}</p> -->
  
  </ng-container>