<mat-toolbar>
  <span>Magistrados</span>
  
  
  <button mat-button [matMenuTriggerFor]="ver" aria-label="icon-button with menu icon">
    Ver
  </button>
  <mat-menu #ver="matMenu">
    <a mat-menu-item routerLink="/afiliacion-show" [queryParams]="afiliacionShowQueryParams"  routerLinkActive="active" title="Ver Afiliaciones">Afiliación</a>
    <a mat-menu-item routerLink="/informe-afiliados" [queryParams]="afiliacionShowQueryParams"  routerLinkActive="informe-afiliados" title="Ver Afiliaciones">Informe Afiliados</a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="nuevo" aria-label="icon-button with menu icon">
    Nuevo
  </button>
  <mat-menu #nuevo="matMenu">
    <a mat-menu-item routerLink="/persona-admin" routerLinkActive="active" title="Nueva Persona">Persona</a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="archivo" aria-label="icon-button with menu icon">
    Archivo
  </button>
  <mat-menu #archivo="matMenu">
    <a mat-menu-item routerLink="/archivo-afiliaciones-create" routerLinkActive="active" title="Crear Archivo de Afiliaciones">Crear Archivo Registro 40</a>    
    <a mat-menu-item routerLink="/archivo-tramite-excepcional-create" routerLinkActive="active" title="Crear Archivo de Tramite Excepctional">Crear Archivo Registro 80</a>
    <a mat-menu-item routerLink="/archivo-afiliaciones-show" routerLinkActive="active" title="Ver Archivos creados">Ver Archivos Creados (40 y 80)</a>
    <a mat-menu-item routerLink="/upload-info-sueldos" routerLinkActive="active" title="Procesar Archivo">Procesar Archivo Sueldos</a>
  </mat-menu>
  
</mat-toolbar>


