<mat-card >
  <mat-card-header>
    <mat-card-title>Tramite Excepcional</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" [formGroup]="fieldset">
        <core-input-select-param 
          class="item" 
          [field]="motivo" 
          [options]="['Alta','Baja','Modificación','Pendiente']" 
          [title]="'Motivo'" 
          fxFlex="33%" 
          fxFlex.xs="100%" 
          fxLayoutAlign="center center"
        ></core-input-select-param>
        <core-input-select-param 
          class="item"
          [field]="estado"
          [options]="['Creado','Enviado','Aprobado','Rechazado']"
          [title]="'Estado'" 
          fxFlex="34%" 
          fxFlex.xs="100%" 
          fxLayoutAlign="center center"
        ></core-input-select-param>
        <core-input-text 
          class="item"
          [field]="monto" 
          [title]="'Monto'" 
          fxFlex="33%" 
          fxFlex.xs="100%" 
          fxLayoutAlign="center center"
        ></core-input-text>
        <core-input-date 
          class="item"
          [field]="desde" 
          [title]="'Desde'" 
          fxFlex="33%" 
          fxFlex.xs="100%" 
          fxLayoutAlign="center center"
        ></core-input-date>
        <core-input-date
          class="item" 
          [field]="hasta" 
          [title]="'Hasta'" 
          fxFlex="34%" 
          fxFlex.xs="100%" 
          fxLayoutAlign="center center"
        ></core-input-date>
        <core-input-select
          class="item" 
          [field]="sucursal" 
          [title]="'Sucursal'"
          [entityName]="'sucursal'"
          fxFlex="33%" 
          fxLayoutAlign="center center"
        ></core-input-select>
    
        <core-textarea 
          class="item" 
          [field]="observaciones" 
          [title]="'Observaciones'" 
          fxFlex="100%" 
          fxLayoutAlign="center center"
        ></core-textarea>
        
        <mat-card fxFlex="25%" *ngIf="data.creado" [style.backgroundColor]="'#17a2b8'">
          <mat-card-header>
            <mat-card-title>Creado</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{data.creado | toDate | date:"d/M/y"}}</p>
          </mat-card-content>
        </mat-card>
    
        <mat-card fxFlex="25%" *ngIf="data.enviado" [style.backgroundColor]="'#007bff'">
          <mat-card-header>
            <mat-card-title>Enviado</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{data.enviado | toDate | date:"d/M/y"}}
          </mat-card-content>
        </mat-card>
        
        <mat-card fxFlex="25%" *ngIf="data.evaluado" [style.backgroundColor]="(data.estado == 'Aprobado') ? '#aaff80' : '#ff8080'">
          <mat-card-header>
            <mat-card-title>Evaluado</mat-card-title>
          </mat-card-header>
          <mat-card-content>{{data.evaluado | toDate | date:"d/M/y"}}</mat-card-content>
        </mat-card>
      
        <mat-card fxFlex="25%" *ngIf="data.modificado" [style.backgroundColor]="'#6c757d'">
          <mat-card-header>
            <mat-card-title>Modificado</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{data.modificado | toDate | date:"d/M/y"}}
          </mat-card-content>
        </mat-card>
        
  </mat-card-content>
</mat-card>
