<mat-card>
  <mat-card-header>
    <mat-card-title>Afiliacion</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="(loadLength$ | async) as length">
    <mat-table *ngIf="(load$ | async)" [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="onChangeSort($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="motivo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Motivo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.motivo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Creado </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.creado | toDate | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="enviado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Enviado </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.enviado | toDate | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="evaluado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Evaluado </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.evaluado | toDate | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modificado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Modificado </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.modificado | toDate | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.observaciones}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="persona">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Persona </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <a [routerLink]="['/persona-show']" [queryParams]="{id:row.persona}" >{{row.persona | label:'persona'}}</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator *ngIf="(display$ | async) as display"
                   [length]="length"
                   [pageSize]="display.size"
                   (page)="onChangePage($event)">
</mat-paginator>  
  </mat-card-content>
</mat-card>

